<h1>Here is the cat you're looking for! </h1>

<table>
    <thead>
        <tr>
            <th colspan="2">Cats table</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cat name</td>
            <td> <%= @cat.name %> </td>
        </tr>

        <tr>
        <td>Cat color</td>
        <td> <%= @cat.color %> </td>
        </tr>

        <tr>
        <td>Cat sex</td>
        <td> <%= @cat.sex %> </td>
        </tr>

        <tr>
        <td>Cat birth date</td>
        <td> <%= @cat.birth_date %> </td>
        </tr>

        <tr>
        <td>Cat description</td>
        <td> <%= @cat.description %> </td>
        </tr>

    </tbody>
</table>